%login-transition {
  @include transition(all 500ms);
}

// Container that centers the div hosting the form
.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Visibility
.visible {
  opacity: 1;
  @extend %login-transition;
}

.invisible {
  opacity: 0;
  @extend %login-transition;
}

// Form content
.login-inner {
  padding: 30px;
  text-align: center;
}

// Logo shown above the form
.login-logo {
  position: relative;
  left: 50%;
  transform: translate(-50%, -15%);
  width: 100px;
  height: auto;
}
