.user-container {
  max-height: 85vh;
  padding: 15px;
}

.container-title {
  font-size: 20px;
  z-index: 5;
  margin-bottom: 15px;
}

.help-text {
  position: relative;
  padding-left: 10px;
  bottom: 6px;
}
