.user-container {
  max-height: 85vh;
  padding: 15px;
}

.container-title {
  font-size: 20px;
  z-index: 5;
  margin-bottom: 15px;
}

.help-title {
  text-align: center;
}

.help-container {
  max-width: 500px !important;
}

.help-overlay {
  opacity: 0 !important;
}

.help-text-container {
  text-align: center;
  padding-top: 10px;
}

.help-text {
  position: relative;
  padding-left: 10px;
  bottom: 6px;
}
